.quiz-container {
  font-family: "Arial", sans-serif;
  width: 410px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #f7f4f1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.player-name {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.vs {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0 15px;
}

.question-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.question-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

.timer {
  border: 3px solid #6b6b6b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #6b6b6b;
  position: relative;
  font-size: 18px;
  background: rgb(251, 241, 241);
}

.timer::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid rgb(4, 4, 3);
  border-left: 3px solid rgb(6, 6, 6);
  animation: rotateBorder 1s linear infinite;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer.stop-rotation::before {
  animation: none;
}



.question-text {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

.option {
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background: #f2f2f2;
  color: black;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.option:hover {
  background: #e0e0e0;
}

.selected {
  background: #d6d6d6;
  font-weight: bold;
}

.next-btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #200f4b;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.next-btn:hover {
  background: #1a1a1a;
}